body {
    background-image: radial-gradient(white, grey);
    background-repeat: no-repeat;
    text-align: center;
    font-size: 22px;
    text-align: center;
    height: 800px;
}


h1 {
    font-size: 30px;
    background-color: #f9ddf9;
    padding: 20px;
    width: 60%; 
}
h3 {
    font-size: 20px;
}

.viewer {
    text-align: center;
    width: 600px;
    height:200px;
    background-color: white;
    flex-direction: row;
    cursor: pointer;
    position: relative;
}
#left {
    position: absolute;

}
#photo {
    height: 200px;
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
    
}
#right {
    transform: rotate(0.5turn);
    margin-left: 0px;
    position: absolute;
}

button {
    font-size: 6px;
    height: 200px;
    margin-right: 0px;
    margin-left: 0px;
}
.grayContainer {
    position: absolute;
    top: 120px;
    left:32px;
    background-color: lightgray;
    backface-visibility: inherit;
    width:90%
}
h2 {
    font-size: 16px;
    color: white;
    text-align: left;
    margin-top: 0;
}
p {
    font-size: 12px;
    color: white;
    text-align: left;
    margin-top: 0;
}