header {
    font-family: 'Abril Fatface', cursive;
    width: 90%;
    height:350px; 
    text-align: center;
   background-image: url("images/me.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left:5%;
    margin-top: 0px;
  }
  h2 {
    position: relative;
    top:180px;
    left: 200px;
    font-size: 30px;
    text-align: left;
  }
  h1 {
    position: relative;
    top:180px;
    left: 200px;
    font-size: 40px;
    text-align: left;
  }
  div {
    width:55%;
    margin:auto;
  }
  main {
    position: relative;
    top: 360px;
    font-family: 'Josefin Sans';
    color: #222222;
    width:600px;
    margin: auto;
    font-size: 18px;
  }
  .quotes::before {
    content: '\201C';
    position: absolute;
    top:5px;
    left:5px;
    font-size:70px;
  }
  .quotes {
    padding:50px;
    background:#222222;
    color: white;
    font-size: 25px;
    font-family: Abril Fatface;
    position:relative;
    top:50px; 
     display:flex;
     align-items: center;
    justify-content: center;
    margin-left: -50px;
  }
  .intext {
    
  }
  .alcim2 {
    margin-top:150px;
    text-transform: uppercase;
    font-size:26px;
    margin-bottom:65px;
    
  }
  .alcim3 {
    margint-top:60px;
    margin-bottom:20px;
  }
  .quotes2::before {
    content: '\201C';
    position: absolute;
    top:5px;
    left:5px;
    font-size:70px;
  }
  .quotes2 {
   padding:50px;
    background:#222222;
    color: white;
    font-size: 25px;
    font-family: Abril Fatface;
    position:relative;
    top:50px; 
      display:flex;
     align-items: center;
    justify-content: center;
    margin-left: -50px;
  }  
  .alcim4 {
    margin-bottom:0px;
  }
  .alcim5 {
     font-family: 'Merriweather', serif;
    margin-top:0px;
    font-size:15px;
  }
  .secondlist {
    font-size: 15px;
  } 
  li {
    margin-top:10px;
    margin-bottom:5px;
  }
  .quotes3::before {
    content: '\201C';
    position: absolute;
    top:5px;
    left:5px;
    font-size:70px;
  }
  .quotes3 {
    padding: 50px;
    background:#222222;
    color: white;
    font-size: 30px;
    font-family: Abril Fatface;
    position:relative;
    top:80px; 
    width:100%;
    text-align: left;
    hight: 200px;
    display:flex;
    margin-left: -50px
  }  
  #bordertop {
    border-top:5px solid black;
    padding-top:60px;
    margin-top:60px
  }