body {
    background: #eeeeee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-align: center;
    font-size: 22px;
    text-align: center;
}


h1 {
    font-size: 30px;
    background-color: #f9ddf9;
    padding: 20px;
    width: 60%; 
}

.viewer {
    text-align: center;
    width: 600px;
    height:200px;
    background-color: white;
    flex-direction: row;
}
#bigone {
    height: 200px;
    width:500px;
    margin-left: 0px;
    margin-right: 0px;
}
#second {
    transform: rotate(0.5turn);
    margin-left: 0px;
}

button {
    font-size: 6px;
    height: 200px;
    margin-right: 0px;
}